# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
UseTab: false
# --- C++ style ---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true
IncludeBlocks: Regroup
AccessModifierOffset: -4
SpaceBeforeParens: Always